node_modules
dist
out
.DS_Store
.eslintcache
*.log*
build
.vscode
.editorconfig

.worktrees

# python scripts
resources/*
!resources/scripts
!resources/demo_gif.gif
!resources/icon.png
!resources/db/
!resources/db/parquet/
!resources/db/parquet/**
!resources/example_data/
!resources/example_data/test_rpkm_1.tsv
!resources/example_data/test_rpkm_2.tsv

resources/scripts/*
!resources/scripts/*.py
!resources/scripts/*.ipynb
