node_modules
dist
out
.DS_Store
.eslintcache
*.log*
build
.vscode
.editorconfig

# python scripts
resources/*
!resources/scripts
!resources/demo_gif.gif
!resources/icon.png

resources/scripts/*
!resources/scripts/*.py
!resources/scripts/*.ipynb
