body{
    button:hover {
        cursor: pointer;
    }
    .bold {
        font-weight: bold;
    }
    .chord-label {
        stroke: white;
        fill: white;
        font-size: 10px;
    }
    .network-group-label {
        stroke: white;
        fill: white;
        font-size: 14px;
    }
    #graph-container{
        filter: intert(75%) hue-rotate(180deg);
        flex-grow: 1;
    }
    #network-title {
        text-align: center;
        height: 30px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    #nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #nav-container > * {
        font-size: 14px;
        color: white;
        height: 30px;
        margin: 10px;
        cursor: pointer;
    }
    #main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
        margin: 2% 0%;
    }
    #title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        height: 30px;
        margin: 10px;
    }
    #root {
        height: 89vh;
        width: 90vw;
        margin: 50px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-start;
        overflow-y: hidden;
    }
}