body{
    button:hover {
        cursor: pointer;
    }
    .nav-container {
        display: flex;
        flex-direction: row;
    }
    .nav-container > * {
        font-size: 14px;
        color: white;
        margin: 20px;
        cursor: pointer;
    }
    .bold {
        font-weight: bold;
    }
    #title {
        font-size: 24px;
        font-weight: bold;
    }
}