body{
    button:hover {
        cursor: pointer;
    }
    .bold {
        font-weight: bold;
    }
    .chord-label {
        stroke: white;
        fill: white;
        font-size: 10px;
    }
    #network-title {
        text-align: center;
        margin-bottom: 20px;
    }
    #nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #nav-container > * {
        font-size: 14px;
        color: white;
        margin: 20px;
        cursor: pointer;
    }
    #main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        margin: 5% 0%;
    }
    #title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    #root {
        height: 100vh;
        width: 100vw;
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
    }
}